/** Card (main component) **/

.wrapper {
  overflow-y: clip;
  display: block;
  position: relative;
  transition: width 0.2s ease-in, height 0.2s ease-in, border 0s;
  width: fit-content;

  & > a {
    width: auto;
  }
}

/** CardImage (child component) **/

.image {
  transition: all 0.2s ease-in;

  &.linkable {
    cursor: pointer;
  }

  &:hover {
    box-shadow: var(--box-shadow-card);
  }

  &:not(:empty):hover,
  &.linkable:hover {
    &::before {
      @include box(100%, 100%);

      content: '';
      display: block;
      z-index: 5;
      background-image: linear-gradient(0deg, rgb(20 20 20 / 85%), transparent 200px);
    }
  }

  .wrapper:not(:empty) & {
    border: 1px solid rgb(var(--rgb-color-border-portal) / 90%);
  }
}

/** CardAction (child component) **/

.action {
  box-sizing: border-box;
  padding: 0 !important;
  height: fit-content;
  border-radius: 50%;

  &:hover {
    background-color: rgb(var(--rgb-color-white) / 40%) !important;
  }
}

.actionIcon {
  @include font($size: 30px, $color: var(--color-button-text));

  font-size: 2.5rem !important;
  border: 2px solid var(--color-button-text) !important;
  border-radius: 50%;
  padding: 5px;
}

/** CardActions (child component) **/

.actions {
  @include absolute(bottom 5px right 0);

  background-color: transparent;
  z-index: 2;
  display: none !important;
  padding: 12px;

  .image:hover & {
    display: flex !important;
  }
}

/** CardBody (child component) **/

.body {
  padding: 5px 0;
  width: 100%;
}

.heading {
  @include max-lines(1);

  color: var(--color-text);
  font-size: rem(14px);
  font-weight: 500;
  transition: all 0.2s ease-in;
  padding-right: 8px;

  &.linkable:hover {
    color: var(--color-primary);
  }

  .wrapper.skeleton & {
    width: 120px;
  }
}
