/** Container (main component) **/

.wrapper {
  @include box(100%, 100%);

  position: relative;
}

.logo {
  width: var(--size-header);
  height: var(--size-header);
  content: var(--img-logo);
}

.title {
  color: var(--color-text);
  font-family: var(--font-logo);
  font-weight: 500;
  margin: 5px 15px 0 10px !important;
}

/** HeaderActions (child component) **/

.headerAction {
  @include box(var(--size-header-action), var(--size-header-action) !important);

  border-color: var(--color-border) !important;
  min-width: var(--size-header-action);
  font-size: 1.4rem !important;
  padding: 0 !important;

  &:hover {
    border-color: var(--color-primary) !important;
  }

  &.search {
    width: var(--size-search-input) !important;
    justify-content: flex-start;
    padding: 0 15px !important;

    span {
      font-size: rem(15px) !important;
      color: var(--color-text);
    }
  }
}

/** HeaderNav (child component) **/

.headerNav {
  margin-right: 10px;
}

.headerNavAction {
  color: var(--color-text) !important;

  &.active {
    color: var(--color-primary) !important;
  }
}

/** HeaderSearch (child component) **/

.modalSearch {
  top: var(--top-search-modal);
  transform: translateX(-50%);
}
