/** Container (main component) **/

.wrapper {
  display: block;
  margin-top: 20px;
}

.header {
  margin-bottom: 30px;

  .xs & {
    margin-bottom: 0;
    flex-direction: column-reverse !important;
  }
}

.posterModal {
  width: 350px !important;
}

/** DetailImage (child component) **/

$image-width: 250px;

.images {
  grid-area: images;
  display: flex;
}

.image {
  width: $image-width;

  .md & {
    $image-width: 220px;
  }

  .sm & {
    $image-width: 200px;
  }

  .xs & {
    display: none;
  }
}

.backdrop {
  width: auto;
  flex-grow: 1;

  .xs & {
    min-width: calc(100% + #{var(--padding-aside)} + #{var(--padding-aside)});
    margin-left: calc(-1 * #{var(--padding-aside)});
    margin-top: -45px;
    height: 250px;
  }
}

/** DetailCarousel (child component) **/

.card {
  width: auto !important;

  .image {
    width: 100%;
  }

  .backdrop & {
    height: 100%;
  }
}

/** DetailBody (child component) **/

.body {
  display: grid;
  grid-gap: 25px 100px;
  grid-template-columns: auto calc(#{$image-width} + 70px);
  grid-template-areas:
    'overview data'
    'videos data'
    'images data'
    'credits data';

  .xs &,
  .sm & {
    grid-template-columns: 100%;
    grid-template-areas:
      'data'
      'overview'
      'videos'
      'images'
      'credits';
  }

  .md & {
    grid-gap: 25px 50px;
    grid-template-columns: calc(100% - #{$image-width} - 70px) calc(#{$image-width} + 20px);
  }
}

/** DetailExternalIds (child component) **/

.externalIds {
  margin-top: 15px;
}

.externalId {
  font-size: rem(18px);
  width: 40px !important;
  height: 40px !important;
  padding: 0;
}

/** DetailData (child component) **/

.data {
  grid-area: data;
  margin-top: 15px;
}

.button {
  font-size: rem(20px);
  width: 100%;
  max-width: 350px;
  justify-content: flex-start;
  padding: 0 20px 0 18px;
}

.providers {
  margin-top: 5px;
}

.provider {
  border-radius: 5px;

  .providers & {
    border: 1px solid rgb(var(--rgb-color-border-portal) / 90%);
  }
}

/** DetailOverview (child component) **/

.overview {
  grid-area: overview;
}

.genres {
  margin: 10px 0 20px;
}

.genre {
  height: 30px !important;
}

/** DetailVideos (child component) **/

.videos {
  grid-area: videos;

  .actions {
    @include absolute(top 0 left 0);
    @include box(100%, 100%);

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    opacity: 0.4;
  }

  .image {
    width: 100%;
    cursor: pointer;

    &:hover .actions {
      opacity: 1;

      .action {
        background-color: rgb(var(--rgb-color-white) / 40%) !important;
      }
    }
  }
}

/** DetailCredits (child component) **/

.credits {
  grid-area: credits;
}
