.wrapper {
  display: block;
}

.seasons {
  margin-top: 25px;
}

.season {
  color: var(--color-text);

  .description {
    margin-top: 10px;
  }
}

.season:hover {
  .image {
    position: relative;

    &::before {
      @include box(100%, 100%);
      @include absolute(top 0 left 0);

      content: '';
      display: block;
      z-index: 5;
      background-image: linear-gradient(60deg, rgb(20 20 20 / 35%), transparent 1000px);
    }
  }

  .name {
    color: var(--color-primary);
  }
}

.card {
  width: auto;
}

.selector {
  font-size: rem(24px);
  padding: 8px !important;
}

.navigation {
  padding: 8px !important;

  &.prev {
    padding-right: 15px !important;
  }

  &.next {
    padding-left: 15px !important;
  }

  .icon {
    font-size: rem(20px);
  }
}
