.headerWrapper {
  @include box(100%, 100%);

  position: relative;
}

.logo {
  width: var(--size-header);
  height: var(--size-header);
  max-height: var(--size-header);
  content: var(--img-logo);
}

.title {
  @include font(32px, $color: var(--color-text));

  font-family: var(--font-logo);
  margin: 5px 15px 0;
}
