.wrapper {
  @include absolute-center(both);

  border: 1px solid rgb(var(--rgb-color-border-portal) / 90%) !important;
  border-radius: var(--border-radius-portal) !important;
  background-color: var(--background-color-primary) !important;
  display: block;
  width: 850px;
  max-width: 95vw;
  min-height: 200px;
  height: auto;
  margin-top: -50px;
}

.close {
  color: var(--color-button-text) !important;
  background-color: rgb(var(--rgb-color-skeleton)) !important;

  &:hover {
    color: var(--color-primary) !important;
  }
}

.content {
  background-color: var(--background-color-primary) !important;
  border-radius: var(--border-radius-portal) !important;
  overflow: hidden;
  height: fit-content;
  width: 100%;
}
