.wrapper {
  background-color: rgb(var(--rgb-color-skeleton));
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
  }
}

.content {
  @include box(100%, 100%);
  @include absolute(top 0 left 0);
}

.empty {
  color: rgb(var(--rgb-background-color-clear-hover) / 20%);
  font-size: rem(90px);
}
