.wrapper {
  background-color: rgb(var(--rgb-color-skeleton));
  transition: all 0.2s ease-in;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
  }
}

.content {
  @include box(100%, 100%);
  @include absolute(top 0 left 0);
}

.image {
  @include box(100%, 100%);
  @include absolute(top 0 left 0);
}
