.xs {
  --size-header: #{$size-header-xs};
  --padding-aside: #{$padding-aside-xs};
  --size-header-action: #{$size-header-action-xs};
}

.sm {
  --size-header: #{$size-header-sm};
  --padding-aside: #{$padding-aside-sm};
}
