@import 'variables';
@import 'animations';
@import 'fonts';
@import 'mixins';
@import 'scrollbar';
@import 'theme';

.app {
  @include box(100vw, 100vh);
  @include fixed;

  overflow: hidden;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include theme;
  @include dark-mode(false);

  font-family: var(--font-text);
  font-weight: 400;
  padding: 0 !important;
  margin: 0 auto;
}

ul,
li {
  padding: 0 !important;
  list-style-type: none;
}

input {
  @include no-outline;

  font-family: var(--font-text);
}

button {
  @include no-outline(true);

  cursor: pointer;
}

a {
  @include no-outline(true);

  text-decoration: none;
  display: block;
  width: fit-content;
}
