@import 'variables';
@import 'animations';
@import 'fonts';
@import 'mixins';
@import 'scrollbar';
@import 'theme';
@import 'breakpoints';

@import 'swiper/swiper.min.css';
@import 'swiper/components/navigation/navigation.min.css';
@import 'swiper/components/pagination/pagination.min.css';
@import 'swiper/components/lazy/lazy.min.css';
@import 'swiper/components/effect-fade/effect-fade.min.css';

.app {
  @include box(100vw, 100vh);
  @include fixed;

  overflow: hidden;
  margin: 0 auto;
}

:root {
  @include theme;
}

.light {
  @include dark-mode(false);
}

.dark {
  @include dark-mode(true);
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include theme;
  @include dark-mode(false);

  font-family: var(--font-text);
  font-weight: 400;
  padding: 0 !important;
  margin: 0 auto;
}

ul,
li {
  padding: 0 !important;
  list-style-type: none;
}

input {
  @include no-outline;

  font-family: var(--font-text);
}

button {
  @include no-outline(true);

  cursor: pointer;
}

a {
  @include no-outline(true);

  text-decoration: none;
  display: block;
  width: fit-content;
}

.full {
  width: 100%;
}
